<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Table</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>



</head>
<body>




<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="example" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>DEPOSITOR</th>
                    <th>RECEIVER</th>
                    <th>BALANCE</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.depositor}">depositor</td>
                    <td th:text="${transaction.receiver}">receiver</td>
                    <td th:text="${transaction.balance}">balance</td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>

<h1>MY REMAIN MONEY IS</h1>
<h1 th:text="${remain}">balance</h1>


<br>
<br>
<h1><a href="/login">GO TO LOGIN PAGE</a></h1>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>


</script>

</body>
</html>